body{
    background-color:#FFF4E6;
    color:rgb(79, 79, 79);
    font-family:sans-serif;
    font-size: 16px;
}

header{
    background-color:rgb(245, 195, 195);
    text-align:center;
    border-bottom: 3px solid #ba7a7a;
    padding: 27px;
}

h1{
    color:rgb(139,0,0);
    font-size:2.6em;
    margin: 1px;
    text-shadow: rgb(255,228,225);
}
p{
    color:rgb(92,0,0);
    font-size: 1.2em;
    margin-top: 5px;
}

nav{
    background-color: #b66b6b;
    text-align: center;
    padding:15px;
}

nav a{
    color:whitesmoke;
    margin:15px;
    font-size: 1.1em;
    font-weight: bold;
}

h2{
    color:#8b0000;
    border-bottom: 2px solid(209,123,123);
    padding-bottom: 5px;
}

article{
    padding:15px;
}

aside{
    background-color: #ffe4e1;
    margin: 15px;
    border-left: 5px solid rgb(209,123,123);
    padding: 10px;
}

aside h3{
    margin-top: 0;
}

ul,ol{
    padding-left: 1.5rem;
    padding-bottom:1px;
    margin-bottom: 1rem;
}

table{
    background-color:rgb(245, 240, 245);
    width:100%;
    margin-bottom: 20px;
}

table caption {
  color:rgb(139,0,0);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  padding:6px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

table,th,td{
    border:1px solid #b08989;
    padding: 10px;
    text-align: center;
}

thead{
    background-color: rgb(244,194,194);
    color:#8b0000;
    font-size: 1.1rem;
}

tbody{
    background-color:#ffe4e1;
    color:#8b0000;
    font-size: 1rem;
    padding:0.8em;
    border: 1px solid rgb(209,123,123);
}

form{
    background-color: rgb(232, 219, 223);
    padding: 40px;
    width: 540px;
    margin:30px;
    border:2px solid #d17b7b;
}

form label{
    color: rgb(139,0,1);
    font-size: 1rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"] {
    width: 100%;
    padding: 8px; 
    margin: 8px ; 
    border: 1px solid rgb(209, 123, 123);
    font-size: 1em; 
}

form input[type="submit"] {
    background-color: rgb(209, 123, 123);
    color: rgb(252, 248, 248);
    padding: 8px 15px;
    border: none;
}

form input[type="reset"] {
    background-color: #f4c2c2;
    padding: 8px 15px;
    border: none;
}

section{
    background-color: #fff8f0;
    padding: 20px;
    margin: 20px;
}

h2{
    color:rgb(139,69,19);
    padding: 20px;
    font-size: 2rem;
}

h3{
    color:rgb(255,99,71);
    font-size:1.3rem;
    margin-top:20px;
}

video{
    border:4px solid #d2691e;
    margin: 10px;
}
audio{
    margin: 10px;
}

iframe{
    margin: 15px;
    border:3px solid rgb(160,82,45);
}

footer{
    background-color: #f4a460;
    padding: 15px;
    margin-top:20px;
    text-align: center;
}

footer a {
    color: #990707;
    font-weight: bold;
}

